/* ============================================= */
/*              Variables                        */
/* ============================================= */


// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-tertiary: #777;

// Fonts
$font-stack-primary: 'Lato', sans-serif;